*{
    border: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
body{
    border: 5px solid royalblue;
    height: 3780px;
    width: 1920p×;
    margin: 0;
    border: 0;
}

/* this is the banner section */

.banner_section{
    display: flex;
    height: 1080px;
    width: 1920px;
    background-image: url("/images/banner/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.empty{
    width: 1552px;
    border: 2px solid red;
}
.content{
    padding-top: 216px;
    padding-right: 200px;
    border: 2px solid red;
}
.ban_title{
    height: 130px;
    font-size: 80px;
    font-weight:700;
    text-align: right;
    padding-left: 300px;
    text-shadow: 3px 5px 4px gray;
    line-height: 100px;
}
.content_text{
    border: 2px solid red;
    font-size: 20px;
    text-align: right;
    margin-top: 200px;
    padding-left: 300px;
    line-height: 40px;
}

.primary_btn{
    border: 2px solid red;
    height: 64px;
    width: 160px;
    background-color: #F15B22;
    color: white;
    font-size: 23px;
    border-radius: 5px;
    margin-left: 750px;
    margin-top: 40px;
}

/* this is the problem section */

.problem_section{
    height: 1080px;
    width: 1920px;
    display: flex;
    justify-content: space-around;
}
.image_section{
    border: 2px solid red;
    width: 960px;

}
.section_image{
    height: 864px;
    padding: 90px 75px 75px 108px;
}

.content{
    border: 2px solid red;
    width: 960px;
    padding-top: 320px;
    padding-left: 150px;
}

.title{
    border: 2px solid red;
    font-size: 60px;
    font-weight:900;
    margin-bottom:0;
}
.problem_content{
    border: 2px solid red;
    font-size: 20px;
    margin-top: 30px;
    line-height: 26px;
    line-height: 30px;
}
.problem_list{
    border: 2px solid red;
    margin-top: 20px 0 0 0;

}
.my_list{
    font-size: 20px;
    line-height: 40px;
    list-style-type:none;
    margin-left: -42px;
}

.tick{
    height: 20px;
    margin-right: 20px;
}

/* My plans section */

.plans{
    border: 2px solid red;
    height: 520px;
    width: 1920px;
    padding-top: 150px;
}

.plan_titles{
    text-align: center;
    font-size: 40px;
    font-weight:900;  
    margin-bottom: 100px;  
}

.plan_list{
    border: 2px solid red;
    display: flex;
    justify-content:space-around;
    }
.plan{
    list-style: none;
}
.icon{
    margin:auto;
    padding: 0 100px 0 100px;
}
.plan_title{
    text-align: center;
    font-size: 25px;
    font-weight:700;
    padding-bottom: 20px;
}
.subtitles{
    text-align: center;
    font-size: 25px;
    font-weight: 500px;
}

/* Gradiant work */

.gradiant_section{
    height: 520px;
    width: 1920px;
    margin: 0;
    border: 0;
}

.watch{
    display: block;
    height: 400px;
    width: 1536px;
    margin: auto;
    background-image: url('/images/watch.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-top: 150px;
    margin-bottom: 150px;
}

.gradiant{
    display: block;
    height: 100%;
    background-image: url('/images/gradient2.png');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .5;
}

.grad_title{
    position: absolute; /*using a position attribute since the title is not clear*/
    margin-top: -400px;
    font-size: 50px;
    font-weight:700;
    color: white;
    padding: 80px 0 0 50px;
    border: 2px solid red;
    
}

.call_button{
    position: absolute; /*using a position attribute since the title is not clear*/
    margin-top: -150px;
    height: 80px;
    width: 200px;
    color: #F15B22;
    background-color: white;
    font-size: 30px;
    font-weight: 600;
    border-radius: 5px;
    margin-left: 50px;
}

/* footer */

.footer{
    display: flex;
    height: 520px;
    background-color: black;
    color: white;
}
.footer_info_section{
    border: 2px solid yellow;
    height: 390px;
    width: 400px;
    margin-left: 200px;
    margin-right: 200px;
}
.footer_title{
    border: 2px solid red;
    font-weight: 700;
    font-size: 50px;
    padding-top: 100px;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.footer_description{
    border: 2px solid red;
    margin: 0;
    padding: 0;
    line-height: 30px;
}
.subscription{
    padding-top: 100px;
    border: 2px solid red;
    width: 50%;
}
